font-mono = 'Roboto Mono', monospace

color-dark        = #1A1B25
color-light       = #F5F5F5
color-magenta     = #EF21E0
color-cyan        = #00FFFF
color-grey-shade1 = #CAE0ED

view-width = 1200px

space-xs  = 5px
space-s   = 10px
space-m   = 15px
space-l   = 25px
space-xl  = 35px
space-xxl = 45px

font-size-l  = 24px
font-size-xl = 46px

box-shadow-dark_40_25 = 0px 0px 40px rgba(0, 0, 0, 0.25);