.jsm-excerpt
  display     grid
  grid-template-columns 18% 1fr
  font-family font-mono
  color       color-grey-shade1

  .excerpt-variable
    float left

    .exc-let
      color color-magenta

    .exc-variable
      color color-cyan