.jsm-title
  font-family font-mono

  &.dark
    color color-dark

  &.light
    color color-light

  span[class*="highlight"]
    &.yellow
      color yellow
    &.red
      color red
    &.cyan
      color color-cyan
    &.magenta
      color color-magenta
    &.green
      color green