.jsm-homepage-cont
  width      100%
  min-height 100vh
  background linear-gradient(287.44deg, rgba(26, 27, 37, 0.69) 9.79%, #1A1B25 50.93%), url("https://images.unsplash.com/photo-1572295727871-7638149ea3d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80.jpg");

.home-featured
  display                inline-block
  padding-top            space-xxl * 4

  .featured-title
    float         left 
    width         65%
    padding-right space-xl

    .homepage-excerpt
      margin-top space-xl

  .featured-image
    float  left
    width  35%

    img
      width  100%
      box-shadow box-shadow-dark_40_25