.jsm-homepage-cont
  width      100%
  min-height 100vh
  background linear-gradient(287.44deg, rgba(26, 27, 37, 0.69) 9.79%, #1A1B25 50.93%), url("https://images.unsplash.com/photo-1572295727871-7638149ea3d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80".jpg);