.jsm-menu
  display               grid
  grid-template-columns repeat(4, 1fr)
  font-family           font-mono
  max-width             view-width
  padding               space-m

  .jsm-menu-item
    color      white
    text-align center
    cursor     pointer

    &.active
      color color-magenta